body{
    background-color: hsl(0, 0%, 100%)
}

h1{
    color: #083e6b
}

#conversion_notes{
    border: 2px solid black; 
    background-color: white;
}

#conversion_notes #english_to_french{
    float:left;
    border: 2px dotted black;
}

#conversion_notes #french_to_english{
    float:right;
    width: 60%;
    border: 2px dotted black; 
}

#accordeur{
    border: 2px solid black; 
}

#transpo_accords{
    border: 2px solid black; 
}