body{
    background-color: hsl(0, 0%, 100%)
}

h1{
    color: #083e6b
}

#conversion_notes{
    border: 2px, solid, grey; 
    background-color: blue;
}

#conversion_notes #english_to_french{
    float:left;
    background-color: red;
}

#conversion_notes #french_to_english{
    float:right;
    width: 60%;
    background-color: orange;
}

